body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.calculation {
  font-size: 50px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  font-size: 26px;
  margin-right: 5px;
  margin-bottom: 15px;
  background-color: rgb(50,50,50);
  color: white;
}
.ans-button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 15px;
  background-color: rgb(50,50,50);
  color: white;
}
.calc-button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  font-size: 26px;
  margin-right: 5px;
  margin-bottom: 15px;
  background-color: orange;
  color: white;
}
.clear-button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 15px;
  background-color: rgb(50,50,50);
  color: white;
}